@import "tailwindcss";


#root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

h2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}